<header>

    <div class="header1">
        <div>
            <a href="/"><img src="img/logo2.png"
                alt="logo"></a>
        </div>
        <div>
            <nav class="navbar bg-black">
                <div class="container-fluid">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                        <button class="btn btn-dark"  type="submit">Buscar</button>
                    </form>
                </div>
            </nav>
        </div>

        <div class="login">
            <span class="material-symbols-outlined">
                favorite
            </span>
            <span class="material-symbols-outlined">
                search
            </span>
            <span class="material-symbols-outlined">
                person
            </span>
            <span class="material-symbols-outlined">
                shopping_cart_checkout
            </span>
        </div>
    </div>


    <div class="nav">
        <nav>
            <ul>
                <li><a href="/">INICIO</a></li>
                <li><a href="/nosotros">QUIENES SOMOS</a></li>
                <li class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        PRODUCTOS
                </li>
                    <ul class="dropdown-menu bg-dark">
                        <li><a class="dropdown-item" href="">Femenino</a></li>
                        <li><a class="dropdown-item" href="">Masculino</a></li>
                    </ul>
            
                <li><a href="/catalogo">CATALOGO</a></li>
                <li><a href="/contacto">CONTACTO</a></li>
            </ul>

        </nav>
    </div>

</header>