<div class="b-cat">

    <h1><strong> -Nuestro Catalogo-</strong></h1>

    <div class="catalogo">
        <div class="cat-fem">
            <h2>Femeninos</h2>
            <img src="/img/catalogo/catalogoFemenino.jpeg" alt="catalogo">
        </div>

        <div class="cat-mas">
            <h2>Masculinos</h2>
            <img src="/img/catalogo/catalogoMasculino.jpeg" alt="catalogo">
        </div>
    </div>

</div>