<div class="b-comoComprar">
    <div>
        <h1><strong> ¿Cómo hago para comprar?</strong></h1><br><br>
        <p>Seguí estos pasos para realizar una compra online:</p>
    </div>

    <div>
        <ol>
            <li>Buscá el producto escribiendo en el buscador superior del sitio. También podés navegar por el menú y
                visualizar categorías completas por tipo de producto o descuento. Si no encontrás el producto que estás
                buscando podés escribirnos a <a href="">mixstar@gmail.com</a>.</li><br>
            <li>Al ingresar al producto buscado podés cambiar de colores y tamaños si los hubiera. Vas a encontrar
                seleccionada 1 unidad, pero podés cambiar este número por las unidades que desees comprar.</li><br>
            <li>Hacé click en “comprar” para agregar el/los productos a tu carrito de compras.</li><br>
            <li>Repetí los pasos 1, 2 y 3 si necesitás añadir otros productos a tu carrito de compras.
                Podés acceder a tu carrito de compras en todo momento desde el ícono del margen superior derecho.</li><br>
            <li>Verificá en tu carrito de compras que los productos añadidos sean correctos. Caso contrario podés editar
                las cantidades seleccionadas o removerlos.
                Para avanzar presioná “Finalizar pedido”.</li><br>
            <li>Ingresá tu código postal para visualizar las opciones de envío y costo si lo tuviera. El retiro en
                nuestra red de sucursales es gratis!
                Si tenés un código promocional podés sumarlo en este paso.</li><br>
            <li>Hacé click en el botón “Proceder al pago”.
                Se te solicitará que ingreses un mail y luego deberás completar tus datos personales. Esto deberás
                hacerlo solo la primera vez que compres en nuestro sitio, o bien en el caso de querer modificar datos.
            </li><br>
            <li>Completá el formulario de información de envío e información de pago.
                En este último paso podés seleccionar el método de pago de tu preferencia; Los métodos de pago aceptados
                son Tarjetas de débito Visa y tarjetas crédito Visa, Mastercard, AMEX, Cabal y Diners a través de
                Mercado Pago.
                Te recordamos que el beneficio de 3 cuotas sin interés es con tarjetas Visa y Mastercard emitidas por
                entidades bancarias argentinas exclusivamente.</li><br>
            <li>Por último, hacé click en el botón “Comprar ahora”.</li>
        </ol>
        <p>¡Eso es todo! Te llegará un mail con los datos de tu compra, y otro segundo mail con la confirmación del pago. La acreditación del pago puede demorar hasta 48hs hábiles en casos excepcionales.</p>

        <p>Si tenés alguna duda que no hayamos despejado podés escribirnos a</p>

        <h2>¡Muchas gracias por comprar en Mixstar Perfumes!</h2>
    </div>
</div>