<div class="container-product">
      <div class="product">
          <figure>
            <img src="/img/femeninos/212-clasico.jpeg" alt="212-clasico">
            <div class="description">
              <a href="">
              <h3>212 Clasico</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/femeninos/212-sexy-woman.jpeg" alt="212-sexy">
            <div class="description">
              <a href="">
              <h3>212 Sexy</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/femeninos/212-vip-rose.jpeg" alt="212-vip-rose">
            <div class="description">
              <a href="">
              <h3>212 rose</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/femeninos/212-vip.jpg" alt="212-vip">
            <div class="description">
              <a href="">
              <h3>212 Vip</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/femeninos/acqua-di-gioia.jpg" alt="acqua-di-gioia">
            <div class="description">
              <a href="">
              <h3>Acqua di Gioia</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/femeninos/angel.jpeg" alt="angel">
            <div class="description">
              <a href="">
              <h3>Angel</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/femeninos/be-delicius-.jpg" alt="be-delicius2">
            <div class="description">
              <a href="">
              <h3>Be delicius DKNY</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/femeninos/be-delicius.jpeg" alt="be-delicius">
            <div class="description">
              <a href="">
              <h3>Be Delicius Fresh</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/femeninos/carolina-herrera.jpeg" alt="ch-clasico">
            <div class="description">
              <a href="">
              <h3>CH Clasico</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/femeninos/ch-rojo.jpg" alt="ch-rojo">
            <div class="description">
              <a href="">
              <h3>CH Woman</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/femeninos/channel-v-jpg.jpg" alt="channel-v">
            <div class="description">
              <a href="">
              <h3>Channel V</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/femeninos/flower-by-kenzo.jpg" alt="flower-bykenzo">
            <div class="description">
              <a href="">
              <h3>Flower by Kenzo</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/femeninos/golden-secret.jpg" alt="golden-secret">
            <div class="description">
              <a href="">
              <h3>The Golden Secret</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/femeninos/good.girl.jpeg" alt="goodgirl">
            <div class="description">
              <a href="">
              <h3>Good Girl</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/femeninos/idole-lancome.jpg" alt="idole-lancome">
            <div class="description">
              <a href="">
              <h3>Idole Lancome</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/femeninos/issay-miyake.jpg" alt="issay-miyake">
            <div class="description">
              <a href="">
              <h3>Issay Miyake</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/femeninos/jadore.jpg" alt="jadore">
            <div class="description">
              <a href="">
              <h3>Jadore</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/femeninos/la-vida-es-bella.jpeg" alt="la-vida-es-bella">
            <div class="description">
              <a href="">
              <h3>La Vida es Bella</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/femeninos/lady-million.jpg" alt="lady-million">
            <div class="description">
              <a href="">
              <h3>Lady Million</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/femeninos/light-blue.jpg" alt="light-blue">
            <div class="description">
              <a href="">
              <h3>Ligth Blue</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/femeninos/ligth-blue-dyg-woman.jpg" alt="light-blue">
            <div class="description">
              <a href="">
              <h3>Light Blue intense</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/femeninos/linterdit-givenchy.jpg" alt="givenchy">
            <div class="description">
              <a href="">
              <h3>L´interdit Givenchy</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/femeninos/myway-armani.jpeg" alt="myway-armani">
            <div class="description">
              <a href="">
              <h3>My Way</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/femeninos/nina-ricci.jpeg" alt="nina-ricci">
            <div class="description">
              <a href="">
              <h3>Nina Ricci</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/femeninos/olympea.jpeg" alt="olympea">
            <div class="description">
              <a href="">
              <h3>Olympea</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/femeninos/scandal.jpeg" alt="scandal">
            <div class="description">
              <a href="">
              <h3>Scandal</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/femeninos/poison-girl.jpg" alt="poison-girl">
            <div class="description">
              <a href="">
              <h3>Poison Girl</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/femeninos/very-irresistible.jpg" alt="very-irresistible">
            <div class="description">
              <a href="">
              <h3>Very Irresistible</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/femeninos/xs-black.jpg" alt="xs-black">
            <div class="description">
              <a href="">
              <h3>Xs Black</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/femeninos/xs-pure-woman.jpeg" alt="xs-pure">
            <div class="description">
              <a href="">
              <h3>Xs Pure</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

</div>