<div class="b-formadepago">
    <div>
        <h1><strong>Formas de Pago</strong></h1>
    </div>

    <div>
        <p>Los métodos de pago aceptados en este sitio web son:</p>
        <ul>
            <li>Tarjetas de débito Visa.</li>
            <li>Tarjetas de crédito</li>
        </ul>
        <p><strong>Podés también abonar en hasta 3 cuotas sin interés exclusivamente con tarjetas Visa y Mastercard
                emitidas por bancos argentinos.</strong></p>
        <p>Todos los pagos efectuados en este sitio web son procesados a través de Mercado Pago.</p>
        <p><strong>PREGUNTAS FRECUENTES</strong></p>
        <p><strong>1. ¿Qué costo de financiación tienen las tarjetas de crédito?</strong></p>
        <p>Para tarjetas Visa y Mastercard emitidas por entidades bancarias podés acceder hasta 3 cuotas sin intereses. <br> Para otras tarjetas de crédito, diferentes a las mencionadas anteriormente, los costos de financiación estarán sujetos a las promociones ofrecidas por Mercado Pago al día de realizar tu compra. Al momento de ingresar los datos de tu tarjeta el sistema identificará la misma y te mostrará el plan de cuotas disponible e intereses si los hubiera. <br> También podés optar por abonar con tarjetas de débito Visa o tarjetas de crédito en 1 pago sin intereses.
        </p>
        <p><strong>2. ¿Los precios y promociones son los mismos que en las sucursales?</strong></p>
        <p>Los precios de lista de los productos son los mismos que en nuestras sucursales. <br>Las promociones que se ofrecen en este sitio no son necesariamente las mismas que ofrecen otros canales de venta tales como tiendas físicas, catálogos o plataformas de venta de terceros.</p>
        <p><strong>3. ¿Puedo pagar en efectivo?</strong></p>
        <p>En este momento no aceptamos pagos en efectivo en nuestra tienda online, sin embargo podés abonar con tarjetas de débito Visa.</p>
        <p><strong>4. ¿Qué tipo de comprobantes emiten?</strong></p>
        <p>Emitimos factura B consumidor final.</p>
        <p><strong>5. ¿Cuándo y cómo recibo la factura de compra?</strong></p>
        <p>Te enviaremos tu factura de compra al mail con el que realizaste la misma, dentro de las 48hs hábiles de acreditado el pago.</p>
    </div>
</div>