<body>
  <div class="b-index">
    <div>
      <div id="carouselExampleControls" class="carousel slide1" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/img/slider2/diadelamadre.jpeg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/img/slider2/linterdit.jpeg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/img/slider2/ninaricci.jpeg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div>
      <img src="/img/index-img/banner-2-carolina-herrera-very-good-girl-edp_1.png" alt="" class="index-img1"><br><br>
    </div>

    <div class="todoProducto">
      <h4>
        <a href="/productos.hbs"> VER TODOS LOS PRODUCTOS</a>
      </h4>
    </div>
    <div class="container-card">
      <div class="card">
          <figure>
            <img src="/img/femeninos/good.girl.jpeg" alt="goodgirl">
            <div class="description">
              <a href="">
              <h3>Good Girl</h3>
              <p>$4200</p>
              <button>Comprar</button>
              </a>
            </div>
          </figure>
      </div>
      <div class="card">
        
          <figure>
            <img src="/img/masculinos/bad-boy.jpeg" alt="badboy">
            <div class="description">
              <a href="">
              <h3>Bad Boy</h3>
              <p>$4200</p>
              <button>Comprar</button>
              </a>
            </div>
          </figure>
        
      </div>
      <div class="card">
          <figure>
            <img src="/img/femeninos/olympea.jpeg" alt="Olympea">
            <div class="description">
              <a href="">
              <h3>Olympea</h3>
              <p>$3900</p>
              <button>Comprar</button>
              </a>
            </div>
          </figure>
        </a>
      </div>
      <div class="card">
          <figure>
            <img src="/img/masculinos/invictus.jpg" alt="Invictus">
            <div class="description">
              <a href="">
              <h3>Invictus</h3>
              <p>$3900</p>
              <button>Comprar</button>
              </a>
            </div>
          </figure>
      </div>
    </div>

  </div>

</body>