<div class="container-product">
      <div class="product">
          <figure>
            <img src="/img/masculinos/212-black.jpeg" alt="212-black">
            <div class="description">
              <a href="">
              <h3>212 Black</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/masculinos/212-clasico.png" alt="212-clasico">
            <div class="description">
              <a href="">
              <h3>212 Clasico</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/masculinos/212-heroes.jpg" alt="212-heroes">
            <div class="description">
              <a href="">
              <h3>212 Heroes</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/masculinos/212-vip.jpeg" alt="212-vip">
            <div class="description">
              <a href="">
              <h3>212 Vip</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/masculinos/acqua-di-gio.jpg" alt="acqua-di-gio">
            <div class="description">
              <a href="">
              <h3>Acqua di Gio</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/masculinos/allure-homme-sport.jpeg" alt="allure-homme">
            <div class="description">
              <a href="">
              <h3>Allure Homme Sport</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/masculinos/amen-pure-havane.jpg" alt="a-men-pure-havanne">
            <div class="description">
              <a href="">
              <h3>A men Pure Havanne</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/masculinos/armani-code.jpg" alt="armani-code">
            <div class="description">
              <a href="">
              <h3>Armani Code</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/masculinos/azzaro-wanted.jpg" alt="azzaro-wanted">
            <div class="description">
              <a href="">
              <h3>Azzaro Wanted</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/masculinos/bad-boy.jpeg" alt="bad-boy">
            <div class="description">
              <a href="">
              <h3>Bad Boy</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/masculinos/bleu-channel.jpg" alt="bleu-channel">
            <div class="description">
              <a href="">
              <h3>Bleu Channel</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/masculinos/bvlgari.jpg" alt="bvlgari">
            <div class="description">
              <a href="">
              <h3>Bvlgari</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/masculinos/farenheit-men.png" alt="farenheit">
            <div class="description">
              <a href="">
              <h3>Farenheite</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/masculinos/fucking-tom-ford.jpg" alt="fucking-tom-ford">
            <div class="description">
              <a href="">
              <h3>Fucking -Tom Ford-</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/masculinos/golden-secret.jpg" alt="the-golden-secret">
            <div class="description">
              <a href="">
              <h3>The Golden Secret</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/masculinos/hugo-boss.jpg" alt="hugo-boss">
            <div class="description">
              <a href="">
              <h3>Hugo Boss</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/masculinos/invictus.jpg" alt="invictus">
            <div class="description">
              <a href="">
              <h3>Invictus</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/masculinos/issay-miyake-men.jpeg" alt="issay-miyake-men">
            <div class="description">
              <a href="">
              <h3>Issay Miyake Men</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/masculinos/kenzo.jpeg" alt="kenzo-men">
            <div class="description">
              <a href="">
              <h3>Kenzo Men</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/masculinos/king-seduction.jpg" alt="king-seduction">
            <div class="description">
              <a href="">
              <h3>King Seduction</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/masculinos/le-male-le-perfum.jpeg" alt="le-male-le-perfum">
            <div class="description">
              <a href="">
              <h3>Male Le Parfum</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/masculinos/one-million.png" alt="one-million">
            <div class="description">
              <a href="">
              <h3>One Million</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/masculinos/oud-wood.jpeg" alt="oud-wood">
            <div class="description">
              <a href="">
              <h3>Oud Wood</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/masculinos/phantom.jpg" alt="phantom">
            <div class="description">
              <a href="">
              <h3>Phantom</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/masculinos/polo-green.jpeg" alt="polo-green">
            <div class="description">
              <a href="">
              <h3>Polo Green</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/masculinos/red-adventus.jpg" alt="creed-adventus">
            <div class="description">
              <a href="">
              <h3>Creed Adventus</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/masculinos/sauvage.jpg" alt="sauvage">
            <div class="description">
              <a href="">
              <h3>Sauvage</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/masculinos/xs-black-lexces.jpeg" alt="xs-black-l-exces">
            <div class="description">
              <a href="">
              <h3>Xs Black L´exces</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/masculinos/xs-black.jpeg" alt="xs-black">
            <div class="description">
              <a href="">
              <h3>Xs Black</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

      <div class="product">
          <figure>
            <img src="/img/masculinos/xs-pure-men.jpeg" alt="xs-pure-men">
            <div class="description">
              <a href="">
              <h3>Xs Pure Men</h3>
              <p class="precio">$4200</p>
              <p>Hasta 3 cuotas Sin Interes!</p>
              <button>Comprar</button>
              </a>
              <button class="btn-add-cart">Añadir al carrito</button>
            </div>
          </figure>
      </div>

</div>