<div class="q-s">
    <h1>Sobre Mixstar Perfumes</h1>

    <p>Nuestros productos estan elaborados con esencias Franco-Suizas. Son perfumes de calidad EDP <strong> (essence
            de
            perfum)</strong> y extractos con concentracion superior a EDT <strong>(eau de toilette)</strong> es
        decir
        que poseen mayor porcentaje de aceites extractos naturales importados que cualquier perfume dentro de la
        categoria alternativa por eso ustedes comprobaran en que no varia la originalidad de esta fragancia ya que
        procede de Givoudan -uno de los principiales proveedores de las grandes marcas internacionales. <br><br>
        <strong>Importante:</strong> No viene en la presentación del packaging original porque la intención es
        <strong>
            NO FALSIFICAR
        </strong> el producto
        original y no son replicas ni productos chinos que es lo que hay en otros sitios a estos precios o mas
        baratos
        sino vender y hacer nuevos amigos ¿Como? una es concecuencia de la otra, no engañamos a la gente, le damos
        lo
        máximo que podemos darle en intensidad y perduracion sin desvirtuar la fragancia para que usted y solo usted
        sepa que lleva un perfume que le costó hasta 4 o 5 veces menos y amigos/as, pareja les sigan diciendo lo
        rico
        que se siente en usted el perfume tal cual lo hacian antes. <br><br>

        Esta crisis nos sumo muchos nuevos clientes como usted, gente que sabe de perfumes, gente que ya no puede
        comprar originales o que compra un perfume original pero necesita algunos para uso diario y descubrieron
        nuestros perfumes y que hasta les perduran mas.
        Esto es lo que nos cuentan y gracias por hacerlo porque nos encanta que esten contentos y conformes con la
        compra y nos envien mensajes ya queriendo comprar otros titulos mas para darse el gusto de usar variedad!
    </p>
</div>