<div class="container-product">
  <div class="product">
    <figure>
      <img src="/img/femeninos/212-clasico.jpeg" alt="212-clasico">
      <div class="description">
        <a href="">
          <h3>212 Clasico</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/femeninos/212-sexy-woman.jpeg" alt="212-sexy">
      <div class="description">
        <a href="">
          <h3>212 Sexy</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/femeninos/212-vip-rose.jpeg" alt="212-vip-rose">
      <div class="description">
        <a href="">
          <h3>212 rose</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/femeninos/212-vip.jpg" alt="212-vip">
      <div class="description">
        <a href="">
          <h3>212 Vip</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/femeninos/acqua-di-gioia.jpg" alt="acqua-di-gioia">
      <div class="description">
        <a href="">
          <h3>Acqua di Gioia</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/femeninos/angel.jpeg" alt="angel">
      <div class="description">
        <a href="">
          <h3>Angel</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/femeninos/be-delicius-.jpg" alt="be-delicius2">
      <div class="description">
        <a href="">
          <h3>Be delicius DKNY</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/femeninos/be-delicius.jpeg" alt="be-delicius">
      <div class="description">
        <a href="">
          <h3>Be Delicius Fresh</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/femeninos/carolina-herrera.jpeg" alt="ch-clasico">
      <div class="description">
        <a href="">
          <h3>CH Clasico</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/femeninos/ch-rojo.jpg" alt="ch-rojo">
      <div class="description">
        <a href="">
          <h3>CH Woman</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/femeninos/channel-v-jpg.jpg" alt="channel-v">
      <div class="description">
        <a href="">
          <h3>Channel V</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/femeninos/flower-by-kenzo.jpg" alt="flower-bykenzo">
      <div class="description">
        <a href="">
          <h3>Flower by Kenzo</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/femeninos/golden-secret.jpg" alt="golden-secret">
      <div class="description">
        <a href="">
          <h3>The Golden Secret</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/femeninos/good.girl.jpeg" alt="goodgirl">
      <div class="description">
        <a href="">
          <h3>Good Girl</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/femeninos/idole-lancome.jpg" alt="idole-lancome">
      <div class="description">
        <a href="">
          <h3>Idole Lancome</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/femeninos/issay-miyake.jpg" alt="issay-miyake">
      <div class="description">
        <a href="">
          <h3>Issay Miyake</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/femeninos/jadore.jpg" alt="jadore">
      <div class="description">
        <a href="">
          <h3>Jadore</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/femeninos/la-vida-es-bella.jpeg" alt="la-vida-es-bella">
      <div class="description">
        <a href="">
          <h3>La Vida es Bella</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/femeninos/lady-million.jpg" alt="lady-million">
      <div class="description">
        <a href="">
          <h3>Lady Million</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/femeninos/light-blue.jpg" alt="light-blue">
      <div class="description">
        <a href="">
          <h3>Ligth Blue</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/femeninos/ligth-blue-dyg-woman.jpg" alt="light-blue">
      <div class="description">
        <a href="">
          <h3>Light Blue intense</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/femeninos/linterdit-givenchy.jpg" alt="givenchy">
      <div class="description">
        <a href="">
          <h3>L´interdit Givenchy</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/femeninos/myway-armani.jpeg" alt="myway-armani">
      <div class="description">
        <a href="">
          <h3>My Way</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/femeninos/nina-ricci.jpeg" alt="nina-ricci">
      <div class="description">
        <a href="">
          <h3>Nina Ricci</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/femeninos/olympea.jpeg" alt="olympea">
      <div class="description">
        <a href="">
          <h3>Olympea</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/femeninos/scandal.jpeg" alt="scandal">
      <div class="description">
        <a href="">
          <h3>Scandal</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/femeninos/poison-girl.jpg" alt="poison-girl">
      <div class="description">
        <a href="">
          <h3>Poison Girl</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/femeninos/very-irresistible.jpg" alt="very-irresistible">
      <div class="description">
        <a href="">
          <h3>Very Irresistible</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/femeninos/xs-black.jpg" alt="xs-black">
      <div class="description">
        <a href="">
          <h3>Xs Black</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/femeninos/xs-pure-woman.jpeg" alt="xs-pure">
      <div class="description">
        <a href="">
          <h3>Xs Pure</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/masculinos/212-black.jpeg" alt="212-black">
      <div class="description">
        <a href="">
          <h3>212 Black</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/masculinos/212-clasico.png" alt="212-clasico">
      <div class="description">
        <a href="">
          <h3>212 Clasico</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/masculinos/212-heroes.jpg" alt="212-heroes">
      <div class="description">
        <a href="">
          <h3>212 Heroes</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/masculinos/212-vip.jpeg" alt="212-vip">
      <div class="description">
        <a href="">
          <h3>212 Vip</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/masculinos/acqua-di-gio.jpg" alt="acqua-di-gio">
      <div class="description">
        <a href="">
          <h3>Acqua di Gio</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/masculinos/allure-homme-sport.jpeg" alt="allure-homme">
      <div class="description">
        <a href="">
          <h3>Allure Homme Sport</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/masculinos/amen-pure-havane.jpg" alt="a-men-pure-havanne">
      <div class="description">
        <a href="">
          <h3>A men Pure Havanne</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/masculinos/armani-code.jpg" alt="armani-code">
      <div class="description">
        <a href="">
          <h3>Armani Code</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/masculinos/azzaro-wanted.jpg" alt="azzaro-wanted">
      <div class="description">
        <a href="">
          <h3>Azzaro Wanted</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/masculinos/bad-boy.jpeg" alt="bad-boy">
      <div class="description">
        <a href="">
          <h3>Bad Boy</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/masculinos/bleu-channel.jpg" alt="bleu-channel">
      <div class="description">
        <a href="">
          <h3>Bleu Channel</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/masculinos/bvlgari.jpg" alt="bvlgari">
      <div class="description">
        <a href="">
          <h3>Bvlgari</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/masculinos/farenheit-men.png" alt="farenheit">
      <div class="description">
        <a href="">
          <h3>Farenheite</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/masculinos/fucking-tom-ford.jpg" alt="fucking-tom-ford">
      <div class="description">
        <a href="">
          <h3>Fucking -Tom Ford-</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/masculinos/golden-secret.jpg" alt="the-golden-secret">
      <div class="description">
        <a href="">
          <h3>The Golden Secret</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/masculinos/hugo-boss.jpg" alt="hugo-boss">
      <div class="description">
        <a href="">
          <h3>Hugo Boss</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/masculinos/invictus.jpg" alt="invictus">
      <div class="description">
        <a href="">
          <h3>Invictus</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/masculinos/issay-miyake-men.jpeg" alt="issay-miyake-men">
      <div class="description">
        <a href="">
          <h3>Issay Miyake Men</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/masculinos/kenzo.jpeg" alt="kenzo-men">
      <div class="description">
        <a href="">
          <h3>Kenzo Men</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/masculinos/king-seduction.jpg" alt="king-seduction">
      <div class="description">
        <a href="">
          <h3>King Seduction</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/masculinos/le-male-le-perfum.jpeg" alt="le-male-le-perfum">
      <div class="description">
        <a href="">
          <h3>Male Le Parfum</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/masculinos/one-million.png" alt="one-million">
      <div class="description">
        <a href="">
          <h3>One Million</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/masculinos/oud-wood.jpeg" alt="oud-wood">
      <div class="description">
        <a href="">
          <h3>Oud Wood</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/masculinos/phantom.jpg" alt="phantom">
      <div class="description">
        <a href="">
          <h3>Phantom</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/masculinos/polo-green.jpeg" alt="polo-green">
      <div class="description">
        <a href="">
          <h3>Polo Green</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/masculinos/red-adventus.jpg" alt="creed-adventus">
      <div class="description">
        <a href="">
          <h3>Creed Adventus</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/masculinos/sauvage.jpg" alt="sauvage">
      <div class="description">
        <a href="">
          <h3>Sauvage</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/masculinos/xs-black-lexces.jpeg" alt="xs-black-l-exces">
      <div class="description">
        <a href="">
          <h3>Xs Black L´exces</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/masculinos/xs-black.jpeg" alt="xs-black">
      <div class="description">
        <a href="">
          <h3>Xs Black</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>

  <div class="product">
    <figure>
      <img src="/img/masculinos/xs-pure-men.jpeg" alt="xs-pure-men">
      <div class="description">
        <a href="">
          <h3>Xs Pure Men</h3>
          <p class="precio">$4200</p>
          <p>Hasta 3 cuotas Sin Interes!</p>
          <button class="btn-add-cart">Comprar</button>
        </a>
        <button class="btn-add-cart">Añadir al carrito</button>
      </div>
    </figure>
  </div>
</div>